<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/image/favicon.png" />
  <link rel="stylesheet" href="css/style.css">
  <title>Instagram</title>
</head>

<body>
  <main>
    <div class="instagram-wrapper">
      <div class="instagram-phone">
        <div class="instagram-display">
          <img src="./image/instagram-screenshot-01.jpg" alt="celular">
        </div>
      </div>
      <div class="instagram-continue">
        <div class="group">
          <img src="./image/instagram-logo.png" class="instagram-logo" alt="instagram logo">
          <div class="profile-photo">
            <img src="./image/perfil-instagram.jpg" alt="foto de perfil">
          </div>
          <a href="#" class="instagram-login">Continue como antonionarcilio</a>
          <a href="#" class="instagram-logout">Remover conta</a>
        </div>
        <div class="group">
          <p class="not-account">Não é antonionarcilio ?</p>
          <p class="not-account">
            <span class="link-blue">Alternar contas</span>
            ou
            <span class="link-blue">Inscreva-se</span>
          </p>
        </div>
        <div class="get-the-app">
          <p class="get-app">Obtenha o aplicativo.</p>
          <div class="download">
            <a target="_blank"
              href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.loginPage.badge&mt=8&vt=lo"
              class="app-download" al="Apple Store"></a>
            <a target="_blank"
              href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D8202DC82-95A1-4F5E-B76D-30FC109A3040%26utm_content%3Dlo%26utm_medium%3Dbadge"
              class="app-download" alt="Google Play"></a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    Created by 
    <a href="https://www.instagram.com/antonionarcilio/" target="_blank" rel="noopener noreferrer">
      @antonionarcilio
    </a>
  </footer>
</body>

</html>
